@charset "utf-8";

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
//@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

@import "_custom-variables.scss";



// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/grid/tiles.sass";
//@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";

// Overrides
a:hover {
  text-decoration: underline;
}

// Fix navbar dropdown not closing on click
@media screen and (min-width: $desktop) {      // 1025px
  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block !important;
  }
  .navbar-item.is-hoverable:focus-within .navbar-dropdown {
    display: none;
  }
}

// Custom Classes

.arc-head {
  text-align: center;
  margin: 0;
  padding: 0 0 1rem 0;
  border: 0;
  color: $grey-darker;
  font-size: 2rem; //36px;
  font-family: 'book antiqua', palatino, sans-serif;

  @media screen and (max-width: $desktop) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: $tablet) {
    font-size: 1.2rem;
  }
}

.arc-subhead {
  font-weight: bold;
  color: $primary;
}

.arc-subtitle {
  font-style: italic;
  font-weight: bold;
  color: $primary;
}