<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <clear/>
      <mimeMap fileExtension=".css" mimeType="text/css"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <mimeMap fileExtension=".htm" mimeType="text/html"/>
      <mimeMap fileExtension=".html" mimeType="text/html"/>
      <mimeMap fileExtension=".ico" mimeType="image/x-icon"/>
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg"/>
      <mimeMap fileExtension=".js" mimeType="text/javascript"/>
      <mimeMap fileExtension=".map" mimeType="application/json"/>
      <mimeMap fileExtension=".pdf" mimeType="application/pdf"/>
      <mimeMap fileExtension=".png" mimeType="image/png"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".ts" mimeType="application/x-typescript"/>
      <mimeMap fileExtension=".webmanifest" mimeType="application/json"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".xml" mimeType="application/xml"/>
    </staticContent>
    <!--
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".webmanifest" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    -->
  </system.webServer>
</configuration>